<div class="row">
      <div class="col-4">
            <h1>Register</h1>
      </div>
</div><hr>
<div class="row"><div class="col-2"></div>
      <div class="col-4">
            <form #regform="ngForm" (ngSubmit)="submit(regform)">
                  <div class="form-group">
                        <label for="UserId"><b>User Id*</b>
                              <input type="text" placeholder="Enter User ID" name="userid"
                               required class="form-control" ngModel #username="ngModel"
                               minlength="5"/>
                               <div *ngIf="username.errors && username.touched">
                                    <span *ngIf="username.errors?.['required']">Enter Username</span>
                                    <span *ngIf="username.errors?.['minlength']">Must Have 5 Characters</span>
                              </div>
                        </label>
                  </div><br>
                  <div class="form-group">
                        <label for="password"><b>Password*</b>
                              <input type="password" placeholder="password" name="password" required class="form-control"
                              minlength="5"ngModel #password="ngModel"/>
                              <div *ngIf="password.errors && password.touched">
                                    <span *ngIf="password.errors?.['required']">Enter password</span>
                                    <span *ngIf="password.errors?.['minlength']">Must Have 5 Characters</span>
                              </div>
                        </label>
                  </div><br>
                 <div class="form-group">
                        <button class="btn btn-outline-success"  [disabled]="regform.invalid">Register</button>
                 </div>
            </form>
      </div>
</div>
